.cabecalho__menu-hamburguer {
    height: 24px;
    width: 24px;
    background-image: url("../image/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburguer {
    background-image: url("../image/Menu Aberto.svg");
}

.container__botao:checked ~ .container__rotulo {
    background: var(--cor-degrade);
}

.cabecalho {
    background-color: var(--cor-segundaria);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: var(--cor-segundaria);
}

.lista-menu__titulo {
    color: var(--cor-tercerizada);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--cor-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__botao, .opcoes, .container__titulo, .container__texto {
    display: none;
}

@media screen and (min-width: 1024px) {
    .container__titulo, .container__titulo--negrito {
        font-family: var(--fonte-segundario);
        font-size: 30px;
    }

    .container__titulo {
        display: block;
        font-weight: 400;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__link {
        color: var(--cor-primaria);
        text-decoration: none;
    }

    .container__imagem--transparentes, .cabecalho__menu-hamburguer, .opcoes__botao {
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu {
        display: block;
        width: auto;
    }

    .opcoes__botao:checked~.opcoes__rotulo>.opcoes__item {
        background: var(--cor-degrade);
        color: var(--cor-segundaria);
    }

    .opcoes__item {
        padding: 2em 1em;
    }

    .lista-menu__item:hover {
        background: var(--cor-degrade);
    }

    .lista-menu__item:hover>.lista-menu__link {
        -webkit-text-fill-color: var(--cor-segundaria);
        text-decoration: none;
    }
}

@media screen and (min-width: 1728px) {
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--cor-primaria);
    }

    .container__texto {
        display: block;
    }

    .cabecalho{
        padding: 0 2em;
    }

    .opcoes {
        margin-right: auto;
    }
}